#root {
  -fx-background-color: #3e7e2f;
}

.label {
  -fx-text-fill: #f8d485;
  -fx-font-weight: bold;
}

.text-field {
  -fx-background-color: #f8d485;
  -fx-prompt-text-fill: #3e7e2f;
  -fx-text-fill: #3e7e2f;
  -fx-font-weight: bold;
}

.button {
  -fx-background-color: #135131;
  -fx-text-fill: #f8d485;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #103f27;
}